h1 {
    text-align: center;
}

.image-container {
            display: flex;
            justify-content: center; /* Centers the image horizontally */
            margin-top: 20px; /* Optional spacing above the image */
        }
        img {
            max-width: 100%; /* Ensures the image is responsive */
            height: auto; /* Maintains the aspect ratio */
        }

/* Style for the modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1; /* Stay on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0, 0, 0, 0.8); /* Black background with opacity */
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 90%;
    height: auto;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}


body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#navbar {
    background-color: #333;
    width: 35%; /* Set the desired width */
    margin: 0 auto; /* Center the navbar */
    display: flex;
    justify-content: center; /* Center items within the navbar */
    border-radius: 10px; /* Optional: adds rounded corners */
}

#navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

#navbar li {
    flex: 1;
}

#navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/*#navbar a:hover {
    background-color: #575757;
}

#navbar a.active {
    background-color: #39376e;
}*/
