h1 {
    text-align: center;
}

.image-container {
    display: flex;
    justify-content: center; /* Centers the image horizontally */
    margin-top: 20px; /* Optional spacing above the image */
}
img {
    max-width: 100%; /* Ensures the image is responsive */
    height: auto; /* Maintains the aspect ratio */
}

/* Navigation Menu Styles */
.nav-menu {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    background-color: #333; /* Background color for nav */
    float: right; /* Float menu to the right */
}

.nav-menu > li {
    display: inline; /* Display items in a line */
}

.nav-menu > li > a {
    text-decoration: none; /* Remove underline */
    color: white; /* Text color */
    padding: 14px 20px; /* Padding for links */
    display: inline-block; /* Make links clickable */
}

.nav-menu > li > a:hover {
    background-color: #555; /* Hover effect */
}

/* Submenu Styles */
.submenu {
    display: none; /* Hide sub-menu by default */
    position: absolute; /* Position submenu */
    background-color: #333; /* Background for submenu */
    z-index: 1; /* Stay on top */
}

.nav-menu > li:hover .submenu {
    display: block; /* Show submenu on hover */
}

.submenu li {
    display: block; /* Stack submenu items */
}

.submenu li a {
    padding: 10px 15px; /* Padding for submenu links */
}

.submenu li a:hover {
    background-color: #555; /* Hover effect for submenu */
}


/* Style for the modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1; /* Stay on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0, 0, 0, 0.8); /* Black background with opacity */
}




/* Modal content */
.modal-content {
    margin: auto;
    display: block;
    max-width: 90%; /* Maximum size of enlarged image */
    height: auto;
}

/* Close button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

body,html{height:100%;}
nav{
  background-color: #b48f47;
  position: absolute;
  width: 150px;
  height: 20%;
}
nav a
{
  padding: 15px;
  display: block;
  font-size: 25pt;
  color: #58355E;
}
nav a:hover
{
  color: #f1f1f1;
}