body {
    font-family: Arial, sans-serif;
    font-size: 12pt;
    background-color: beige;
    color: brown;
    margin: 15pt;
}

h1 {
    font-size: 24pt;
    color: forestgreen;
    font-weight: bold;
}

h2{
    font-size: 20pt;
    color: burlywood
    font-weight: bold;
}

h3 {
    font-size: 18pt;
    color: gray
}

p{
    font-size: 14pt;
    color: darkolivegreen;
    line-height: 1.5;
}

a:link, a:visited {
    color: blue;
}

a:hover {
    color: darkcyan;
    text-decoration: underline;
}

a:active {
    color: red;
    text-decoration: underline;
}

div.text {
    padding: 10px;
    background-color: lightseagreen;
}

div.links {
    padding: 10px;
    background-color: lightsalmon;
}

 table{
    width: 100%;
     border-collapse: collapse; 
}

td {
    border: 1px solid red;
    padding: 10px;
}